.slider-wrapper {
  background-color: white;
  height: 100vh;
}

.carousel .control-dots {
  padding: 0px;
  bottom: 10px;
}

.carousel .control-dots .dot {
  box-shadow: none;
  margin: 0 4px;
  opacity: 1;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF !important;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  align-items: center;
  background-color: white;
  color: #0058F4;
  font-family: 'Prompt';
}

.disclaimer-title {
  width: 268px;  
  font-family: Prompt;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 25px;
  text-align: center;
}

.disclaimer-text {
  width: 268px;  
  font-family: Prompt;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 25px;
  text-align: center;
}
.disclaimer-text span {
  word-break: break-word;
  width: 268px;
  font-family: Prompt;
  font-style: bold;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
}
.pageImage {
  margin-top: 30px; 
  max-width:50px;
}

.imageBox {
  display: flex;
  justify-content: space-between  
}
.susDiv {
  margin: 0px 10px;

}
.wowDiv {
  margin: 0px 10px;
}
.hospitalImage {
  margin-top: 30px; 
  max-width:70px;
}

.button-next {
  padding: 12px 0;
  background: #FFFFFF;
  border: 1.5px solid #0058F4;
  border-radius: 100px;
  color: #0058F4;
  width: 110%;
  font-size: 16px;
  text-transform: uppercase;
}

